* {
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, white, #f2c3f2);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    width: 600px;
    padding: 10px;
    margin: auto;
}
p{
    text-align: justify;
}
h1{
    color: #f39209;
    text-align: center;
    text-shadow: 1px 1px 2px #cc7b09a0;
}
h2{
    color: #125109;
}